<?php

$config = array();

// Do not set db_dsnw here, use dpkg-reconfigure roundcube-core to configure database!
include_once("/etc/roundcube/debian-db-roundcube.php");

// The IMAP host chosen to perform the log-in.
// Leave blank to show a textbox at login, give a list of hosts
// to display a pulldown menu or set one host as string.
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// Supported replacement variables:
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %s - domain name after the '@' from e-mail address provided at login screen
// For example %n = mail.domain.tld, %t = domain.tld
$config['default_host'] = 'tls://{{ mailhost }}';

// SMTP server host (for sending mails).
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// Supported replacement variables:
// %h - user's IMAP hostname
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %z - IMAP domain (IMAP hostname without the first part)
// For example %n = mail.domain.tld, %t = domain.tld
$config['smtp_server'] = 'tls://{{ mailhost }}';

// SMTP port. Use 25 for cleartext, 465 for Implicit TLS, or 587 for STARTTLS (default)
$config['smtp_port'] = 587;

// SMTP username (if required) if you use %u as the username Roundcube
// will use the current username for login
$config['smtp_user'] = '%u';

// SMTP password (if required) if you use %p as the password Roundcube
// will use the current user's password for login
$config['smtp_pass'] = '%p';

// provide an URL where a user can get support for this Roundcube installation
// PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
$config['support_url'] = '';

// Name your service. This is displayed on the login screen and in the window title
$config['product_name'] = '';

// This key is used to encrypt the users imap password which is stored
// in the session record. For the default cipher method it must be
// exactly 24 characters long.
// YOUR KEY MUST BE DIFFERENT THAN THE SAMPLE VALUE FOR SECURITY REASONS
$config['des_key'] = '{{ rcmail_des_key }}';

// List of active plugins (in plugins/ directory)
// Debian: install roundcube-plugins first to have any
$config['plugins'] = array(
    'acl',
    'additional_message_headers',
    'database_attachments',
    'emoticons',
    'enigma',
    'help',
    'http_authentication',
    'jqueryui',
    'krb_authentication',
    'managesieve',
    'markasjunk',
    'newmail_notifier',
    'new_user_identity',
    'password',
    'redundant_attachments',
    'squirrelmail_usercopy',
    'zipdownload',
);

// skin name: folder from skins/
$config['skin'] = 'larry';

// Disable spellchecking
// Debian: spellchecking needs additional packages to be installed, or calling external APIs
//         see defaults.inc.php for additional informations
$config['enable_spellcheck'] = false;

$config['skin_logo'] = '//:0';

// OLD CONFIG BELOW:

// $config['db_dsnw'] = 'sqlite:////var/lib/roundcube/db/rcm.sqlite?mode=0646';
// $config['default_host'] = 'localhost';
// $config['smtp_server'] = 'localhost';
// $config['smtp_port'] = 25;
// $config['support_url'] = '';
// $config['product_name'] = '';
// $config['des_key'] = '{{ rcmail_des_key }}';
// $config['plugins'] = array(
//     'additional_message_headers',
//     'archive',
//     'emoticons',
//     'help',
//     'jqueryui',
//     'markasjunk',
//     'newmail_notifier',
//     'show_additional_headers',
//     'userinfo',
//     'vcard_attachments',
// );
// $config['skin'] = 'larry';
// $config['skin_logo'] = '//:0';

?>
