#!/bin/sh
docker pull gitlab/gitlab-ce:latest
if [[ $( docker images | egrep '^gitlab/gitlab-ce' | grep '<none>' | wc -l ) >= 0 ]]
then
    docker stop gitlab
    docker rm gitlab
    docker run \
        --detach \
        --hostname {{ inventory_hostname }}.{{ domain }} \
        --publish 5880:80 \
        --publish 6722:22 \
        --name gitlab \
        --restart unless-stopped \
        --volume /opt/gitlab/config:/etc/gitlab \
        --volume /opt/gitlab/logs:/var/log/gitlab \
        --volume /opt/gitlab/data:/var/opt/gitlab \
        gitlab/gitlab-ce:latest
    docker images | egrep '^gitlab/gitlab-ce' | grep '<none>' | awk '{print $3}' | xargs docker rmi
fi
