server {
    listen 80;
    server_name nagios.{{ domain }};
    include conf.d/server;

    root /var/www/{{ domain }}/htdocs;
    index index.html;

    rewrite ^/nagios$      https://$host/nagios    redirect;
    rewrite ^/nagios/(.*)$ https://$host/nagios/$1 redirect;

    location ~ /\.ht {
        deny all;
    }
} # 80

server {
    listen 443;
    server_name nagios.{{ domain }};
    include conf.d/server;
    include ssl_conf;

    location /nagios {
        alias /usr/local/nagios/share;
        index index.php index.html;

        include fastcgi_php;

        auth_basic "Nagios Restricted Access";
        auth_basic_user_file /etc/nagios/htpasswd.users;
    }
    location /nagios/cgi-bin {
        alias /usr/local/nagios/sbin;

        include fastcgi_perl_set;
        fastcgi_param AUTH_USER $remote_user;
        fastcgi_param REMOTE_USER $remote_user;

        auth_basic "Nagios Restricted Access";
        auth_basic_user_file /etc/nagios/htpasswd.users;
    }
} # 443
