#!/usr/bin/env bash

/bin/echo 'Installing plugins...'
for i in \
    author-avatars.zip \
    foobox-image-lightbox.zip \
    amr-shortcode-any-widget.zip \
    captcha.4.4.5.zip \
    classic-editor.1.6.zip \
    sqlite-integration.1.8.1.zip
do
    echo "  $i"
    /usr/bin/wget -N -q http://downloads.wordpress.org/plugin/$i
    builtin cd wp-content/plugins
    /usr/bin/unzip -o -q ../../$i
    if [ -f sqlite-integration/db.php ]
    then
        /bin/mv sqlite-integration/db.php ../
    fi
    builtin cd ../..
    /bin/rm $i
done

/bin/echo 'Installing themes...'
for i in \
    twentyfourteen.3.1.zip \
    twentynineteen.2.0.zip \
    twentytwenty.1.7.zip \
    twentytwentyone.1.2.zip
do
    echo "  $i"
    /usr/bin/wget -N -q http://wordpress.org/themes/download/$i
    builtin cd wp-content/themes
    /usr/bin/unzip -o -q ../../$i
    /bin/chown -R www-data.www-data *
    builtin cd ../..
    /bin/rm $i
done
