#!/usr/bin/env bash

/bin/echo 'Upgrading Wordpress...'

cd /tmp
wget https://wordpress.org/latest.zip
unzip latest.zip
rm latest.zip
chown -R www-data. wordpress
mv wordpress blog

if [ -f /var/www/{{ domain }}/blog/wp-update.bash ]
then
    cp -p /var/www/{{ domain }}/blog/wp-update.bash blog/.
fi

if [ -f /var/www/{{ domain }}/blog/wp-upgrade.bash ]
then
    cp -p /var/www/{{ domain }}/blog/wp-upgrade.bash blog/.
fi

sed -i -e 's/<h1>/<h1 style="display: none">/' blog/wp-login.php
sed -i -e 's|^wp_check_php_mysql_versions();|// wp_check_php_mysql_versions();|' blog/wp-settings.php

cp -rp /var/www/{{ domain }}/blog/wp-content blog/.
cp -p /var/www/{{ domain }}/blog/wp-config.php blog/.

rm -rf /var/www/{{ domain }}/blog
mv blog /var/www/{{ domain }}/blog

service php-fcgi restart
