#!/bin/bash

su -l {{ dev_user }} <<EOF

. {{ perlbrew_root }}/etc/bashrc
perlbrew list | head -1 | xargs perlbrew switch
perlbrew lib create local
perlbrew switch @local

if [ -f ~/bin/cpanfile ]
then
    cd ~/bin
    cpanm -n -f --with-develop --with-all-features --installdeps .
fi

EOF

exit 0
