function hdmount {
    sudo mkdir -p /$2
    sudo mount -t cifs \
        -o user={{ user }},iocharset=utf8,rw,uid={{ user }},gid={{ user }},dynperm,vers=2.0 \
        //${1^^}/${2^^} /$2
}

function hdumount {
    sudo umount -f /$1
    sudo rmdir /$1
}
