server {
    listen 80 default_server;
    server_name {{ domain }} www.{{ domain }} *.{{ domain }} localhost localhost.localdomain;
    include conf.d/server;

    root /var/www/{{ domain }}/htdocs;
    index index.html;

    location ~ /\.ht {
        deny all;
    }
} # 80

server {
    listen 443 default_server;
    server_name {{ domain }} www.{{ domain }} *.{{ domain }} localhost localhost.localdomain;
    include conf.d/server;
    include ssl_conf;

    location / {
        proxy_pass http://localhost;
    }
} # 443
