server {
    listen 80 default_server;
    server_name {{ domain }} www.{{ domain }};
    include snippets/server.conf;

    root /var/www/{{ domain }}/htdocs;
    index index.html;
} # 80

server {
    listen 443 default_server ssl;
    server_name {{ domain }} www.{{ domain }};
    include snippets/server.conf;
    include snippets/ssl.conf;

    location / {
        proxy_pass http://localhost;
    }
} # 443
