function hdmount {
    sudo mkdir -p /$1
    sudo mount -t cifs \
        -o credentials=/home/{{ dev_user }}/.hdmount,iocharset=utf8,rw,sec=ntlm,uid={{ dev_user }},gid={{ dev_user }},dynperm \
        //{{ host_ip }}/${1^^} /$1
}

function hdumount {
    sudo umount -f /$1
    sudo rmdir /$1
}
